* {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100vw;
  height: 100vh;
  background-image: url(./assest/top.png);
  background-size: auto;
  background-position: bottom;
}
.header {
  width: 100%;
  display: inline-block;
  margin: 30px 0px;
  color: white;
  font-family: sans-serif;
}
.header_content {
  width: 90vw;
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  justify-content: space-between;
}
.header_content1 {
  display: flex;
  flex: row;
}
.custom-hamburger {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
}
#cancel_hamberger {
  margin-top: 5px;
}
#cancel_hamberger:hover {
  cursor: pointer;
}
.ham1 {
  background-color: white;
  width: 30px;
  margin-bottom: 5px;
  height: 2px;
}
.otherham1 {
  transform: rotateZ(45deg);
}
.otherham2 {
  margin-top: -6px;
  transform: rotateZ(-45deg);
}
.on {
  margin-right: 20px;
}
.overlay_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateX(-100%);
  height: 100vh;
  background-image: url("./assest/top2.png");
  transition: 1s;
  transform-origin: 0 0;
}
.addedclass {
  transform: scaleX(1);
}
.mainpage_headline {
  position: absolute;
  top: 26%;
  left: 45%;
  transform: translate(-16%, 10%);
  font-family: "Lato", sans-serif;
  font-display: swap;
  color: white;
}
.mainpage_headline > span {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.mainpage_headline > p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 12px;
}
.mainpage_headline_content_wrapper > p {
  margin: 10px 0px 50px 0px;
  font-size: 10px;
}
.mainpage_headline_content {
  background-color: transparent;
  padding: 15px 40px 10px 40px;
  line-height: 2.5;
  font-size: 10px;
  text-align: center;
  border: 0.25px solid white;
  border-radius: 5px;
}
.mainpage_headline_content > a {
  text-decoration: underline;
}
.mainpage_headline_content > p {
  margin-top: 15px;
}
#cursor_boundary {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 0.25px solid white;
  border-radius: 50%;
  z-index: 0;
}
.category {
  width: 15%;
  padding: 30px;
  display: inline-block;
}
.category1,
.category2,
.category3 {
  display: flex;
  padding: 20px;
  margin-bottom: 44px;
  align-items: center;
  justify-content: space-between;
}
.spa,
.nail,
.hair,
.product,
.beauty,
.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Just Another Hand", cursive;
}
.spa_circle,
.nail_circle,
.hair_circle,
.product_circle,
.beauty_circle,
.promotion_circle {
  height: 60px;
  width: 60px;
  border: 0.25px solid white;
  border-radius: 50%;
  margin-bottom: 5px;
}
.spa_circle {
  transition: 1s;
  border: 1px solid #8dbfbe;
}
.spa_circle:hover {
  background-color: #8dbfbe;
  transform: scale(0.5);
}
.nail_circle {
  transition: 1s;
  border: 1px solid #ca8fc7;
}
.nail_circle:hover {
  background-color: #ca8fc7;
  transform: scale(0.5);
}
.hair_circle {
  transition: 1s;
  border: 1px solid #c2aa6c;
}
.hair_circle:hover {
  background-color: #c2aa6c;
  transform: scale(0.5);
}
.product_circle {
  transition: 1s;
  border: 1px solid #e9e2e1;
}
.product_circle:hover {
  background-color: #e9e2e1;
  transform: scale(0.5);
}
.beauty_circle {
  transition: 1s;
  border: 1px solid #d79b89;
}
.beauty_circle:hover {
  background-color: #d79b89;
  transform: scale(0.5);
}
.promotion_circle {
  transition: 1s;
  border: 1px solid #97bee9;
}
.promotion_circle:hover {
  background-color: #97bee9;
  transform: scale(0.5);
}
.spa {
  color: #8dbfbe;
  margin-right: 40px;
}
.nail {
  color: #ca8fc7;
}
.hair {
  color: #c2aa6c;
  margin-right: 40px;
}
.product {
  color: #e9e2e1;
}
.beauty {
  color: #d79b89;
  margin-right: 40px;
}
.promotion {
  color: #97bee9;
}
.overlay_content {
  display: inline-block;
  margin: 0vw 10vw;
  height: 88vh;
  overflow-y: scroll;
}
.overlay_content::-webkit-scrollbar {
  display: none;
}
.overlay_content > ul {
  list-style: none;
  display: inline-block;
}
.overlay_content > ul > li {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  margin: 10px 0px;
  font-size: 25px;
}
.overlay_content > ul > li:hover {
  cursor: pointer;
  color: rgb(202, 143, 199);
}
.overlay_spa {
  color: #8dbfbe;
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  display: block;
}
.spa_category > li:hover {
  color: #8dbfbe !important;
}
.overlay_nail {
  color: #ca8fc7;
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  display: block;
}
.nail_category > ul > li:hover {
  color: #ca8fc7;
}
.overlay_hair {
  color: #c2aa6c;
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  display: block;
}
.hair_category > li:hover {
  color: #c2aa6c !important;
}
.overlay_product {
  color: #ca8fc7;
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  display: block;
}
.overlay_beautylounge {
  color: #d79b89;
  font-family: "Lato", sans-serif;
  font-size: 6vw;
  display: block;
}
.beautylounge_category > li:hover {
  color: #d79b89 !important;
}
